.menu-profile {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 20px;
}

.menu-profile-addnew {
  padding: 10px;
}

.menu-profile-button {
  padding: 10px;
}

.menu-search {
  padding: 20px;
}

.menu-filter {
  padding: 20px;
}
